@CHARSET "UTF-8";

.container-fluid h1{
	color: lightblue;
	-webkit-text-fill-color: lightblue; 
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: darkblue;
}

.container-fluid h3 {
	color: gray;
}
