@CHARSET "UTF-8";

.line-gray {
	top: 25px;
	left: 0;
	right: 0;
	height: 1px;
	background: #ccd0db;
	margin: 25px 0 25px 0;
}

.pic {
width: 540px;
height: 420px;
background-color: black;
}

.section .work-section .category-list{
	padding: 0;
}

ul .work-category-wrap .category-list {
	margin:0;
}

.section-heading .categori-list {
	margin:0;
}

.tab-content > .tab-pane .display-none {
	display: inline;
}

.btn .btn-success .btn-size {
	width: 100%;
	height: 30px;
	font-size: 100%;
	align: center;
}

.row .edit-wrap .btn-size {
	width: 100%;
	height: 100%;
	align: center;
	margin-right: 0px;
	margin-left:  0px;
}

.col-sm-4 .col-md-3 .col-xs-6 .mix .printing .mix-all .viewer-size {
	width: 15%;
	feight: 15%
}

.input-group-addon,.input-group-btn,.input-group .form-control .serch_btn {
	display: inline;
}

.btn .btn-default .search-btn {
	display: inline;
}

.glyphicon .glyphicon-search .search-btn {
	display: inline;
}

.search-margin {
	margin-left: 30px;
}