/* my_project_list */
.button-wrap {
    margin-bottom: 30px;
}

.project-category {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

.checkboxRegion {
    position: absolute;
    width: 100%
}

#blankCheckbox {
    float: left;
}

.edit-wrap {
    margin-top: 10px;
    margin-bottom: 10px;
}