/* Viewer는 반응형이므로 따로 작성하였음 */
@CHARSET "UTF-8";
@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
    }
}
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 0.6em; /* 0.6x default size */
    }
}

/**
* Global
*/
.wrap {
    border: none;
    margin: 0;
    padding: 0;
}

.fit {
    width: 100%;
    height: 100%;
}

.fit-width {
    width: 100%;
}

.fit-height {
    height: 100%;
}

.hide {
    display: none;
}


/**
* Scene
*/
.scene-wrap {
    height: inherit;
}

.scene {
    height: 100%;
    list-style-type: none;
    position: relative;
}


/**
* Object
*/
.object {
    display: inline-block;
    position: absolute;
}

/**
* - Image
*/
.image {
    width: inherit;
    height: inherit;
}

/**
* - TextBox
*/
.textbox {
    width: inherit;
    height: inherit;
}

/**
* - Video
*/
.video {
    width: inherit;
    height: inherit;
}

/**
 * - Video
 */
.vjs-paused .vjs-big-play-button {
    display: none;
}


/**
 * - viewer
 */
.viewer_wrap {
}

.contents {
    min-height: 150px;
    float:left;
}

.navigator {
    float: left;
    position: fixed;
    bottom: 0px;
}

.nav-bar {
    min-height:10px;
    border:1px solid black;
}

.nav-bottom {
    width:100%;
    border:1px solid black;
}

.responsive-width {
    font-size: 1.1vw;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}