<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	Author	: hong won gi
	CRUD  	:
		C	: create
		R	: update
		U	: findAll, findById, findByName
		D	: remove
	조사완료
 -->
<mapper namespace="AccountMapper">
	<insert id="create" parameterType="pb.rest.jaxrs.vo.Account"
		useGeneratedKeys="true" keyProperty="_id">
		INSERT INTO pb_account 
		( nick, email, password, name, type)
		VALUES 
		( #{nick}, #{email}, #{password}, #{name}, #{type} )
	</insert>
	<update id="update" parameterType="pb.rest.jaxrs.vo.Account"
		useGeneratedKeys="true" keyProperty="_id">
		UPDATE pb_account
		SET nick = #{ nick } , email = #{ email }, password = #{ password }, name = #{ name }, type = #{ type }
		where _id= #{ _id }
	</update>
	<select id="findAll" resultType="pb.rest.jaxrs.vo.Account">
		select *
		from pb_account
	</select>
	<select id="findById" parameterType="int" resultType="pb.rest.jaxrs.vo.Account">
		select *
		from pb_account where _id= #{ _id }
	</select>
	<select id="findByName" parameterType="String" resultType="pb.rest.jaxrs.vo.Account">
		select *
		from pb_account 
		where name= #{ name }
	</select>
	<select id="findByNick" parameterType="String" resultType="pb.rest.jaxrs.vo.Account">
		select *
		from pb_account 
		where nick= #{ nick }
	</select>
	<delete id="delete" parameterType="int">
		delete
		from pb_account
		where _id= #{ _id }
	</delete>
</mapper>