<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	Author	: hong won gi
	CRUD  	:
		C	: create
		R	: update
		U	: findAll, findById, findByName
		D	: remove
	조사완료
 -->
<mapper namespace="ResAudioMapper">
 <insert id="create" parameterType="pb.rest.jaxrs.vo.ResAudio" useGeneratedKeys="true" keyProperty="_id">
  INSERT INTO pb_res_audio
  (accountId, path, thumbPath, name, size, playTime )
  VALUES (
  	#{accountId}, #{path}, #{thumbPath]}, #{name}, #{size}, #{playTime}
  )
 </insert>
 <update id="update" parameterType="pb.rest.jaxrs.vo.ResAudio" useGeneratedKeys="true" keyProperty="_id">
  UPDATE pb_res_audio 
  SET 
    accountId =#{accountId} , path =#{path}, thumbPath =#{thumbPath},
    name =#{name}, size =#{size}, playTime =#{playTime}
  where _id= #{ _id } 
 </update>
 <select id="findAll" resultType="pb.rest.jaxrs.vo.ResAudio">
  select *
  from pb_res_audio 
 </select>
 <select id="findById" parameterType="int" resultType="pb.rest.jaxrs.vo.ResAudio">
  select *
  from pb_res_audio where _id= #{ _id }
 </select>
 <select id="findByName" parameterType="int" resultType="pb.rest.jaxrs.vo.ResAudio">
  select *
  from pb_res_audio where name= #{ name }
 </select>
 <delete id="delete" parameterType="int">
  delete 
  from pb_res_audio
  where _id= #{ _id }
 </delete>
</mapper>