<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	Author	: hong won gi
	CRUD  	:
		C	: create
		R	: update
		U	: findAll, findById, findByName
		D	: remove
	조사완료
 -->
<mapper namespace="ResVideoMapper">
 <insert id="create" parameterType="pb.rest.jaxrs.vo.ResVideo" useGeneratedKeys="true" keyProperty="_id">
  INSERT INTO pb_res_video
  	(accountId, path, thumbPath, name, size, width, height, playTime) 
  VALUES (
  	#{accountId}, #{path}, #{thumbPath}, #{name}, #{size}, #{width}
  	, #{height}, #{playTime}
  )
 </insert>
 <update id="update" parameterType="pb.rest.jaxrs.vo.ResVideo" useGeneratedKeys="true" keyProperty="_id">
  UPDATE pb_res_video 
  SET 
	accountId = #{accountId} , path = #{path}, thumbPath = #{thumbPath},
	name = #{name}, size = #{size}, width = #{width},
	height = #{height}, playTime = #{playTime}
  where _id= #{ _id } 
 </update>
 <select id="findAll" resultType="pb.rest.jaxrs.vo.ResVideo">
  select *
  from pb_res_video 
 </select>
 <select id="findById" parameterType="int" resultType="pb.rest.jaxrs.vo.ResVideo">
  select *
  from pb_res_video where _id= #{ _id }
 </select>
 <select id="findByName" parameterType="int" resultType="pb.rest.jaxrs.vo.ResVideo">
  select *
  from pb_res_video where name= #{ name }
 </select>
 <delete id="remove" parameterType="int">
  delete 
  from pb_res_video
  where _id= #{ _id }
 </delete>
</mapper>