@CHARSET "UTF-8";

.margin-ud5{
	margin: 5px 0;
}

.margin-ud10{
	margin: 10px 0;
	align:center;
}

.green-full-btn {
	background-color:#8CC152;
	color:#fff;
	width:100%;
}

.tags {
	max-height: 260px;
	max-width: 100%;
	min-width: 100%;
	margin: 0px;
}

.textarea_size_1{
	width:100%;
	height:100%;
	resize: none;
}
.textarea_size_2{
	width:100%;
	height:100px;
	resize: none;
}
.textarea_size_3{
	width:100%;
	height:200px;
	resize: none;
}