<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://54.65.24.182:3306/pb" />
				<property name="username" value="pb" />
				<property name="password" value="hitit113112" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="pb/rest/mybatis/ResVideoMapper.xml" />
		<mapper resource="pb/rest/mybatis/ResAudioMapper.xml" />
		<mapper resource="pb/rest/mybatis/ResImageMapper.xml" />
		<mapper resource="pb/rest/mybatis/ProjectMapper.xml" />
		<mapper resource="pb/rest/mybatis/AccountMapper.xml" />
	</mappers>
</configuration>