<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectMapper">
 <!-- findById -->
 <select id="findAll" resultType="pb.rest.jaxrs.vo.Project">
  select *
  from pb_project 
 </select>
 <select id="findById" parameterType="int" resultType="pb.rest.jaxrs.vo.Project">
  select *
  from pb_project where _id= #{ _id }
 </select>
 <insert id="create" parameterType="pb.rest.jaxrs.vo.Project" useGeneratedKeys="true" keyProperty="_id">
  INSERT INTO pb_project
  VALUES (
  	#{type}, #{iconSrc}, #{imgSrc}, #{name}, #{showName}
  	, #{theme}, #{owner}, #{rsc_type}, #{emotion}, #{rsc_style}
  )
 </insert>
 <update id="update" parameterType="pb.rest.jaxrs.vo.Project" useGeneratedKeys="true" keyProperty="_id">
  UPDATE pb_project 
  SET 
    type =#{type} , iconSrc =#{iconSrc}, imgSrc =#{imgSrc}, name =#{name}, showName =#{showName}
 	, theme =#{theme}, owner =#{owner}, rsc_type =#{rsc_type}, emotion =#{emotion}, rsc_style =#{rsc_style}
  where _id= #{ _id } 
 </update>
 <delete id="remove" parameterType="int">
  delete 
  from pb_project
  where _id= #{ _id }
 </delete>
 <select id="findByName" parameterType="int" resultType="pb.rest.jaxrs.vo.Project">
  select *
  from pb_project where _id= #{ _id }
 </select>
</mapper>