* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
    /* left_icons_scroll bar size */
}

#left_icons {
    width: 20%;
    height: 75%;
    margin: 0 0;
    overflow: scroll; /* showing scrollbars */
    max-height: 500px;
    max-width: 225px;
    /* 오른쪽 icon 모음*/
}

#left_icons .ui-grid-a> .ui-block-a,
#left_icons .ui-grid-a> .ui-block-b {
    width: auto;
}

#left_icons .ui-grid-a> .ui-block-a {
    padding-right: 10px;
}

#left_icons .ui-grid-a> .ui-block-b {
    padding-left: 10px;
}

#main_windows {
     width: 80% !important;
     height: 75%;
     min-height: 500px;
     max-height: 540px;
     position: relative;
     margin-left: 20px;
     background-color: #DCDCDC;
     /* main 제작 화면 */
 }

#main_windows > * {
    width: auto;
    height: auto;
    display: inline;
    /* 개체 기본 속성*/
}
