/*
	읽은이 : 홍원기
	상태 : 아마 이게 mainview.html 용 스타일 시트 소스인듯
*/

/* Adjust the width of the left reveal menu. */
#demo-page {
    height: 99.5%;
}

#demo-page #left_panel.ui-panel {
    width: 15em;
}
#demo-page #left_panel.ui-panel-closed {
    width: 0;
}
#demo-page .ui-panel-page-content-position-left,
.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 15em;
    right: -15em;
}
#demo-page .ui-panel-animate.ui-panel-page-content-position-left.ui-panel-page-content-display-reveal {
    left: 0;
    right: 0;
    -webkit-transform: translate3d(15em,0,0);
    -moz-transform: translate3d(15em,0,0);
    transform: translate3d(15em,0,0);
}
/* Listview with collapsible list items. */
.ui-listview > li .ui-collapsible-heading {
    margin: 0;
}
.ui-collapsible.ui-li-static {
    padding: 0;
    border: none !important;
}
.ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn {
    border-top: none !important;
}
/* Nested list button colors */
.ui-listview .ui-listview .ui-btn {
    background: #fff;
}
.ui-listview .ui-listview .ui-btn:hover {
    background: #f5f5f5;
}
.ui-listview .ui-listview .ui-btn:active {
    background: #f1f1f1;
}
/* Reveal panel shadow on top of the listview menu (only to be used if you don't use fixed toolbars) */
#demo-page .ui-panel-display-reveal {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#demo-page .ui-panel-page-content-position-left {
    -webkit-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
    -moz-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
    box-shadow: -5px 0px 5px rgba(0,0,0,.15);
}
/* Setting a custom background image. */
#demo-page.ui-page-theme-a,
#demo-page .ui-panel-wrapper {
    background-color: #fff;
    /*background-image: url(../_assets/img/bg-pattern.png);*/
    background-repeat: repeat-x;
    background-position: left bottom;
}
/* left obj panel setting */
.ui-panel .ui-panel-inner {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    -webkit-overflow-scrolling: touch;
}

.ui-content {
    position: relative;
    height: 100%;
}

.ui-object {
    position: absolute;
}

.ui-group {
    position: absolute;
}

.selected-icon {
    background-color: rgb(211, 215, 235);
    border: 1px solid #aaaaaa;
}

.selected-obj {
    border: 1px solid #aaaaaa;
}

.hide {
    display: none !important;
}

.inline-block {
    display: inline-block;
}

.inherit-dim {
    width: inherit;
    height: inherit;
}

/* setting panel position as fixed */
.fixed-panel {
    position: fixed;
}

.float-none {
    float: none !important;
}


/** model page structure **/
.slide {
    height: 100%;
    border-bottom: 5px outset mediumaquamarine;
    border-width: thick;
}

.footer {
    text-align: center;
}

.h-padding30 {
    display: inline-block;
    padding-left: 30px;
}


/* option icon */
.control {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    cursor: pointer;
}
.resize {
    background: top left no-repeat url(http://cdn1.iconfinder.com/data/icons/fugue/icon/arrow-resize-135.png);
    right: 5px;
    cursor: nw-resize;
}
.delete-slide-btn {
    background: top left no-repeat url(http://cdn3.iconfinder.com/data/icons/uidesignicons/delete.png);
    right: 26px;
}

.change-background-btn {
    background: top left no-repeat url(http://cdn1.iconfinder.com/data/icons/silk2/color_wheel.png);
    right: 47px;
}

.change-bgborder-btn {
    border: 5px solid #b43d3d;
    right: 68px;
}

/* file input Dialog*/

.fileinput-button {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 4px;
    width: 200px;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

/* file output dialog */

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    color: #222;
    font-family: 'Droid Sans', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: -moz-radial-gradient(farthest-side, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.2) 150%) #fff;
    background: -webkit-gradient(radial, center center, 500, center center, 1400, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6))) #fff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: center;
    -moz-box-pack: center;
    display: -o-box;
    -o-box-orient: vertical;
    -o-box-align: center;
    -o-box-pack: center;
    width: 100%; /* for FF */
}

a {
    color: #555;
}

a[data-disabled] {
    color: #ccc;
    text-decoration: line-through;
}

textarea {
    font-size: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 3px 7px #ccc inset;
    -moz-box-shadow: 0 3px 7px #ccc inset;
    -o-box-shadow: 0 3px 7px #ccc inset;
    -ms-box-shadow: 0 3px 7px #ccc inset;
    box-shadow: 0 3px 7px #ccc inset;
    outline: none;
    width: 500px;
    height: 100px;
    resize: none;
}

button {
    display: inline-block;
    background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
    background: -webkit-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
    background: -moz-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
    background: -ms-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
    background: -o-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
    background: linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

button:hover {
    border-color: black;
}

button:active {
    background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#E3E3E3), to(#F9F9F9));
    background: -webkit-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
    background: -moz-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
    background: -ms-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
    background: -o-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
    background: linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
}

input[type="text"] {
    font-size: inherit;
    padding: 5px 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    vertical-align: middle;
}

[contenteditable] {
    width: 500px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 5px #ccc inset, 0 -1px 1px #ccc inset;
    margin-bottom: 1em;
    /* background: url('roughness_less.png') 50% 50%; */
}

[contenteditable],
input[type="text"] {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #aaa;
}

[contenteditable]:hover,
[contenteditable]:focus,
input[type="text"]:hover,
input[type="text"]:focus {
    outline: none;
    color: black;
}

aside:hover {
    opacity: 1;
}

aside {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 10pt;

    width: 200px;
    display: inline-block;
    text-shadow: 1px 1px 1px black;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

aside:before {
    content: '';
    width: 15px;
    height: 15px;
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7) 50%, transparent 50%);
    background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.7) 50%, transparent 50%);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    left: -8px;
    top: 45px;
    position: absolute;
}

aside a {
    color: inherit;
}

output:hover + aside {
    opacity: 1;
}

#download-help {
    top: 50px;
    left: 300px;
}

/* textbox design */
p.bubble {
    position: relative;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 60px auto;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

p.thoughtleft {
    width: 130px;
    line-height: 100px;
    -webkit-border-radius: 108px;
    -moz-border-radius: 108px;
    border-radius: 108px;
}

p.bubble:before, p.bubble:after {
    content: ' ';
    position: absolute;
    width: 30;
    height: 30;
}

p.speechleft:before {
    left: 30px;
    top: 100px;
    border: 25px solid;
    border-color: #666 transparent transparent #666;
}

p.speechleft:after {
    left: 38px;
    top: 100px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
}

p.thoughtleft:before, p.thoughtleft:after {
    left: 10px;
    top: 80px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}

p.thoughtleft:after {
    width: 20px;
    height: 20px;
    left: 5px;
    top: 120px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

p.thoughtright {
    width: 130px;
    line-height: 100px;
    -webkit-border-radius: 108px;
    -moz-border-radius: 108px;
    border-radius: 108px;
}

p.speechright:before {

    left: 105px;
    top: 100px;
    border: 25px solid;
    border-color: #666 #666 transparent transparent;
}

p.speechright:after {

    left: 118px;
    top: 100px;
    border: 15px solid;
    border-color: #fff #fff transparent transparent;
}

p.thoughtright:before, p.thoughtright:after {
    left: 50px;
    top: 80px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}

p.thoughtright:after {
    width: 20px;
    height: 20px;
    left: 75px;
    top: 120px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}